@model SaleStatisticsViewModel

@{
    ViewData["Title"] = "Sales Statistics";
    var statistic1 = Model.Statistics.First();
    var statistic2 = Model.Statistics.Last();
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>@statistic1.Description</p>
                @{
                    RenderWarning(statistic1);
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Real Estate Agent</th>
                            <th scope="col">Sales Objects</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            RenderStatistics(statistic1.Statistics);
                        }
                    </tbody>
                </table>
            </div>
            <div class="col">
                <p>@statistic2.Description</p>
                @{
                    RenderWarning(statistic2);
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Real Estate Agent</th>
                            <th scope="col">Sales Objects</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            RenderStatistics(statistic2.Statistics);
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@{
    void RenderStatistics(IEnumerable<SaleStatisticItemViewModel> items)
    {
        var i = 1;

        foreach (var item in items)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@item.Agent</td>
                <td>@item.Count</td>
            </tr>

            i++;
        }
    }

    void RenderWarning(SaleStatisticViewModel statistic)
    {
        if (!statistic.Statistics.Any())
        {
            <div class="alert alert-warning" role="alert">
                Statistic curently unavailable! We are working on a new statistic. Thank you for patience.
            </div>
        }
        else if (DateTime.UtcNow.Subtract(statistic.DateUpdated) > TimeSpan.FromMinutes(5))
        {
            <div class="alert alert-warning" role="alert">
                Statistic is outdated! We are working on a new statistic. Thank you for patience.
            </div>
        }
    }
}